<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="SearchWord" value="mouneyou.rgx6.com" />
    <add key="SinceDate" value="2015-03-06" />
    <add key="UntilDate" value="2015-03-07" />
    <add key="DateStep" value="1" />
  </appSettings>
</configuration>
